/*NAVIGATION STYLING START [DESKTOP RESPONSIVE]*/
.metrotek-logo img{
    width:200px;
}
.hero{
    background-image: url(../images/slide-one.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-background{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.container{
    width:80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap:250px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.menu-links{
    list-style: none;
}
.menu-links a{
    text-decoration: none;
    color:var(--white);
    margin:0 10px;
    font-weight: 500;
}
.menu-links a,
.menu-links a:after,
.menu-links a:before{
    transition:all 0.5s;
}
.menu-links a:hover{
    color: var(--metrotekgreen);
}
.hamburger{
    display: block;
    cursor: pointer;
}
.bar{
    display: block;
    height:3px;
    width:25px;
    border-radius: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: var(--metrotekgreen);
}
/*NAVIGATION STYLING END [DESKTOP RESPONSIVE]*/
/*NAVIGATION STYLING START [MOBILE RESPONSIVE]*/
@media (max-width:780px){
    .metrotek-logo img{
        width:150px;
    }
    .container{
        width:100%;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu{
        position: fixed;
        left:-100%;
        top:105px;
        gap:0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 12;
    }
    .menu-links{
        margin: 16px 0;
    }
    .menu.active{
        left:0;
    }
}
/*NAVIGATION STYLING END [MOBILE RESPONSIVE]*/
/*NAVIGATION EFFECT*/
.menu-links a{
  position: relative;
}
.menu-links a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--metrotekgreen);
  height: 1px;
}
.menu-links a:hover:after {
  width: 100%;
}
/*NAVIGATION EFFECT END*/
