@import url(https://db.onlinewebfonts.com/c/527c5ab608cab860a6aae8ce02e14b0e?family=Calibri+Bold);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Calibri",sans-serif;
}
:root{
    --metrotekgreen:rgb(0, 168, 89);
    --metrotekgrey:rgb(132, 134, 136);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    --black:hsl(0,0%,0%);
    --grey:rgb(205, 205, 206);
}
body{
    overflow-x: hidden;
}

/*LANDING PAGE STYLING END*/
.black-bg{
    background: var(--black);
    overflow: hidden;
}
.video-container{
    position: fixed;
    top:-10%;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    overflow: hidden;
}
video{
    width:100%;
    height:100%;
    object-fit:contain;
}
.btn-container{
    position: relative;
    left:43%;
    margin-top: 620px;
    z-index: 3;
}
.btn{
    padding:15px 50px;
    width: 300px;
    height: 50px;
    background: none;
    position:relative;
    cursor: pointer;
    box-shadow: inset -2px 1px 11px rgba(0, 255, 0, 0.5);
}
a{
    color:#fff;
    text-decoration: none;
    font-size: large;
}
svg{
    position: absolute;
    inset: 0;
    fill: none;
    stroke: var(--metrotekgreen);
    stroke-width: 5px;
    stroke-dasharray: 33 297;
    stroke-dashoffset: 50;
    transition: all 0.5s linear;
}
.btn:hover svg{
    stroke-width: 3px;
    stroke-dashoffset: -500;
}
.btn:active{
    transform: scale(1.001);
    background-color: var(--metrotekgreen);
}
@media (max-width:768px){
    .black-bg{
        overflow-y: hidden;
    }
    .video-container{
        margin-top: 0;
        overflow: hidden;
    }
    video{
        object-fit:contain;
        top:0;
    }
    .btn-container{
        position: relative;
        left:20%;
        margin-top: 500px; 
    }
}

@media (min-width:768px) and (max-width:1180px){
    .video-container{
        display: flex;
        justify-content: center;
        top:-30%;
    }
    video{
        object-fit: contain;
        width: 50%;
    }
    .btn-container{
        margin-top: 450px;
        left:35%;
    }
}
/*LANDING PAGE STYLING END*/
/*ABOUT PAGE STYLING START*/
.about{
    padding:100px;
}
.about-metrotek{
    display: flex;
    justify-content: center;
    gap: 100px;
    height:400px;
}
.about-image h2{
    font-size: 2.5rem;
    color:var(--metrotekgreen);
}
.about-image img{
    height:200px;
}
.about-title h3{
    font-size: 2rem;
    font-weight: 900;
    color:var(--metrotekgreen);
}
.about-title h4{
    font-size: 1.4rem;
    color:var(--metrotekgrey);
}
.about-text ul li{
    list-style: none;
    color:var(--metrotekgrey);
    font-size: 1rem;
}
.about-text img{
    height:300px;
}
.about-main{
    width:300px;
}
.about-main h3{
    font-size: 2rem;
    font-weight: 900;
    color:var(--metrotekgreen);
}
.about-main p{
    font-size: 1.2rem;
    color:var(--metrotekgrey);
}
.green{
    color:var(--metrotekgreen)
}
.grey{
    color: var(--metrotekgrey);
}
.parallax-2{
    background-image: url(../images/ideation.png) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.metrotek-info{
    padding:100px;
}
.col-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
}
.col-1 h2{
    text-align: center;
}
.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.col-2 p{
    width:500px;
    background-color: var(--metrotekgreen);
    padding:50px;
    color: var(--white);
    font-size: 1.2rem;
}
.col-3{
    margin-top: 0px;
    padding:50px;
}
.parallax-3{
    background-image: url(../images/slide-three.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.values{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:100px;
    padding: 100px;
}
.values > .col-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}
.col-1 p{
    background-color: var(--metrotekgreen);
    padding:80px;
    font-size: 1.2rem;
    color:var(--white);
    margin-top:30px;
}
.slogan-2 img{
    width:300px;
}
.footer{
    display:flex;
    justify-content: center;
    gap:200px;
    padding:100px;
    color:var(--metrotekgrey);
}
.contact-details{
    line-height: 50px;
}
.metrotekng{
    max-width: 300px;
}
.footer-nav li, .media li i{
    color :var(--metrotekgrey);
}
.attribute{
    text-align: center;
    color: var(--metrotekgrey);
    padding: 30px;
}
.aurora{
    color: var(--metrotekgrey);
    font-size: 1rem;
}
.image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
#img{
    width:100%;
    height:100%;
}
#img img{
    width:100%;
    height:100%;
}
@media (max-width:768px){
    .hero{
        overflow: hidden;
    }
    .about{
       padding:40px;
    }
    .about-metrotek{
        flex-direction: column;
        height:100%;
    }
    .col-1 h2{
        font-size: 1.5rem;
    }
    .col-1 p{
        padding: 25px;
    }
    .col-2 {
        flex-direction: column;
    }
    .col-2 p{
        width:300px;
    }
    .col-3{
        padding:0;
        margin-top: 30px;
    }
    .values{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .slogan-2 img{
        margin-left: -50px;
    }
    .contact-details{
        text-align: center;
    }
    .gallery-container{
        max-width: 300px;
    }
    .gallery-slide {
        display: flex;
        margin-right: 10px;
        gap: 50px;
        transition: transform 0.5s ease-in-out;
    }
    .image-slide{
        width:100%;
        box-sizing: border-box;
    }
    .image-slide img{
        width:300px;
    }
}
/*ABOUT PAGE STYLING END*/
/*CONTACT PAGE STYLING START*/
.contact-hero{
    background-image: url(../images/contact-bg.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-hero-background{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.form-container{
    position:absolute;
    top: 15%;
    left:60%;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    color: #fff;
}
input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 10px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.bx{
    font-size: 3rem;
    color: var(--metrotekgreen);
}
.contact-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contact-links a img{
    height:45px;
    margin-top: 3px;
}
@media (max-width:768px){
    .form-container{
        padding: 40px;
        left:0;
        position: relative;
    }
    input[type=text], select, textarea {
        width: 300px;
    }
}
/*CONTACT PAGE STYLING END*/
.gallery-title{
    text-align: center;
    margin-top:30px;
}
.gallery-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:60px;
    margin-top: 50px;
}
.gallery-item img{
    width:300px;
    cursor: pointer;
}
#load-more{
    background-color: var(--metrotekgreen);
    padding: 5px 10px;
    font-size:20px;
    margin:50px 0;
    display:inline-block;
}
#load-more:hover{
    background-color:blue;
    text-decoration:none;
}
@media (max-width:768px){
    .gallery-items{
        flex-direction: column;
        align-items:center ;
    }
}

/*SERVICE/ THE FEEL PAGE STYLING START*/
.feel-hero{
    background-image: url(../images/slide-three.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feel-hero-background{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.caret{
    width:40px;
}

.ideation{
    text-align: center;
    margin-top: 20px;
}
.ideation h2{
    font-size: 2.5rem;
    color:var(--metrotekgreen);
}
.ideation-images{
    display: flex;
    justify-content: center;
    position: relative;
    left:8%;
    top:120px;
}
/*SERVICE/ THE FEEL PAGE STYLING END*/