@import url(https://db.onlinewebfonts.com/c/527c5ab608cab860a6aae8ce02e14b0e?family=Calibri+Bold);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Calibri Bold",sans-serif;
}
:root{
    --metrotekgreen:rgb(0, 168, 89);
    --metrotekgrey:rgb(132, 134, 136);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    --black:hsl(0,0%,0%);
    --grey:rgb(205, 205, 206);
}
body{
    overflow-x: hidden;
}

/*LANDING PAGE STYLING END*/
.black-bg{
    background: var(--black);
    overflow: hidden;
}
.video-container{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    overflow: hidden;
}
video{
    width:100%;
    height:100%;
    object-fit:contain;
}
.btn-container{
    position: relative;
    left:43%;
    margin-top: 500px;
    z-index: 3;
}
.btn{
    padding:15px 50px;
    width: 300px;
    height: 50px;
    background: none;
    position:relative;
    cursor: pointer;
    box-shadow: inset -2px 1px 11px rgba(0, 255, 0, 0.5);
}
a{
    color:#fff;
    text-decoration: none;
    font-size: large;
}
svg{
    position: absolute;
    inset: 0;
    fill: none;
    stroke: var(--metrotekgreen);
    stroke-width: 5px;
    stroke-dasharray: 33 297;
    stroke-dashoffset: 50;
    transition: all 0.5s linear;
}
.btn:hover svg{
    stroke-width: 3px;
    stroke-dashoffset: -500;
}
.btn:active{
    transform: scale(1.001);
    background-color: var(--metrotekgreen);
}
@media (max-width:768px){
    .video-container{
        margin-top: 0;
    }
    video{
        object-fit:cover;
    }
    .btn-container{
        position: relative;
        left:30%;
        margin-top: 500px; 
    }
}
/*LANDING PAGE STYLING END*/
/*ABOUT PAGE STYLING START*/
.about{
    padding:100px;
}
.about-metrotek{
    display: flex;
    justify-content: center;
    gap: 50px;
    height:400px;
}
.about-image h2{
    font-size: 2.5rem;
    color:var(--metrotekgreen);
}
.about-image img{
    height:200px;
}
.about-title h3{
    font-size: 2rem;
    font-weight: 900;
    color:var(--metrotekgreen);
}
.about-title h4{
    font-size: 1.4rem;
    color:var(--metrotekgrey);
}
.about-text ul li{
    list-style: none;
    color:var(--metrotekgrey);
    font-size: 1rem;
}
.about-text img{
    height:300px;
}
.about-main{
    width:300px;
}
.about-main h3{
    font-size: 2rem;
    font-weight: 900;
    color:var(--metrotekgreen);
}
.about-main p{
    font-size: 1.2rem;
    color:var(--metrotekgrey);
}
.green{
    color:var(--metrotekgreen)
}
.grey{
    color: var(--metrotekgrey);
}
.parallax-2{
    background-image: url(../images/slide-two.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.metrotek-info{
    padding:100px;
}
.col-1{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}
.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding:100px;
}
.col-2 p{
    width:500px;
    background-color: var(--metrotekgreen);
    padding:50px;
    color: var(--white);
    font-size: 1.2rem;
}

.parallax-3{
    background-image: url(../images/slide-three.webp) ;
    height:90vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.values{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    padding: 100px;
}
.values > .col-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}
.col-1 p{
    background-color: var(--metrotekgreen);
    padding:80px;
    font-size: 1.2rem;
    color:var(--white)
    margin-top:30px;
}
.slogan-2 img{
    width:300px; 
}
.footer{
    display:flex;
    justify-content: center;
    gap:200px;
    padding:100px;
    color:var(--metrotekgrey);
}
.contact-details{
    line-height: 50px;
}
.metrotekng{
    max-width: 300px;
}
.footer-nav li, .media li i{
    color :var(--metrotekgrey);
}