/*ALL PAGE TRANSITIONS STARTS*/
/*Enter Metrotek Button Slide*/
.enter-btn-slide-in-left{
    animation: enter-btn-slide-in-left 3.5s ease-in-out forwards;
}
@keyframes enter-btn-slide-in-left{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}
/*Enter Metrotek Button Slide*/

.metrotek-info .col-1 h2 .slide-in-right{
    animation: slide-in-right 2s ease-in-out forwards;
    margin-top: 20px;
}
@keyframes slide-in-right{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}